<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Just for personal Use</span>
    <a
      b-slate-link
      href="https://hum0r.club" target="_blank"
    >
      https://hum0r.club
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://chat.openai.com/" target="_blank"
    >
      GPT Official Site
    </a>
  </p>
</footer>
